.c-light-text{
    color: #444444;
}
.resPosSlide span{
    font-size: 13px;
    color: #9EA3AB;
}
.resPosSlide span>strong{
    color: #444f5e;
    margin-right: 2px;
}
/* ----- ----- ----- */
.style-0{
    position: relative;
}
.style-0 .owl-dots{
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.style-0 .owl-dots button{
    width: 8px;
    height: 8px;
    background: rgba(255,255,255,.5);
    margin-right: 10px;
    border-radius: 10px;
}
.style-0 .owl-dots button.active{
    opacity: 1;
    width: 32px;
}
.style-0 .owl-dots{
    margin-top: 20px;
    text-align: center;
}
.style-0 .owl-nav button{
    width: 40px;
    height: 40px;
    display: block;
    background: #ffffff!important;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: solid 1px rgba(0, 0, 0, 0.1);

}
.style-0 .owl-nav button span{
    font-size: 30px;
    transform: translateY(-10px);
    position: relative;
    top: -3px;
    color: rgba(0,0,0,.5);
}
.style-0 .owl-nav .owl-prev{
    left: 30px;
}
.style-0 .owl-nav .owl-next{
    right: 30px;
}
/* ----- ------ -----*/
.wrap-btn-owl-0{
    padding: 20px;
}
.wrap-btn-owl-0 button{
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.wrap-btn-owl-0 .resPosSlide{
    margin: 0px 20px;
}


@media only screen and (max-width:991px){
    .style-0 .owl-nav .owl-next {
        right: -12px;
    }
    .style-0 .owl-nav .owl-prev {
        left: -12px;
    }
}
@media only screen and (max-width:500px){
    
}

/* ----- ----- ----- */

.slide-style-2 .owl-nav button.owl-next{
    position: absolute;
    right: -60px!important;
    top: 50%;
    transform: translate(0%,-75%);
}
.slide-style-2 .owl-nav button.owl-prev{
    position: absolute;
    left: -60px!important;
    top: 50%;
    transform: translate(0%,-75%);
}
.slide-style-2 .owl-nav button span{
    height: 40px!important;
    width: 40px!important;
    display: block;
    border-radius: 50%;
    padding: 0;
    background: #fff;
    font-size: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color:  rgba(0, 0, 0, 0.5);;
}
#service-02 .item{
    margin-top: 20px;
}
@media only screen and (max-width:991px){
    .wrap-info-product {
        min-height: 400px;
    }
    #service-02 .owl-nav{
        display: none;
    }
}