.blog-item{
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 12px;
    overflow: hidden;
}
.blog-item .img{
    width: 300px;
}
.blog-item .img img{
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.blog-item .content{
    padding: 15px 15px;
    position: relative;
}
.blog-item .more{
    color: #D5B04D;
    font-weight: 600;
}
.blog-item .time{
    display: block;
    margin-top: 10px;
    color: #B8B8B8;
}
@media only screen and (max-width:991px){
    .blog-item .img{
        width: 200px;
    }
}