.header-main, .header-bottom{
    background: #ffffff;;
    top: 0;
    width: 100%;
}

.logo{
    width: 60px;
    -o-object-fit: cover;
       object-fit: cover;
}
.header-bottom{
    top: 90px;
}
.header-main{
    z-index: 100;
}
.header-bottom{
    z-index: 99;
}
.wrap-search button, .wrap-search input{
    border: none;
}
.wrap-search button:focus,
.wrap-search input:focus{
    outline: none;
    box-shadow: none;
}
.wrap-search{
    position: relative;
    display: inline-block;
    width: 100%;
}
.wrap-search input{
    background: #FBFBFB;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    padding-left: 60px;
    color: #878787;
}
.wrap-search input::-webkit-input-placeholder{
    color: #B8B8B8;
}
.wrap-search input::-moz-placeholder{
    color: #B8B8B8;
}
.wrap-search input:-ms-input-placeholder{
    color: #B8B8B8;
}
.wrap-search input::-ms-input-placeholder{
    color: #B8B8B8;
}
.wrap-search input::placeholder{
    color: #B8B8B8;
}
.wrap-search button{
    position: absolute;
    background: none;
    color: #878787;
    border-radius: 20px 0px 0px 20px;
    padding-left: 25px;
    padding-right: 10px;
    height: 100%;
}

.wrap-block-right>ul li{
    display: inline-block;
    font-size: 14px;
    position: relative;
}
.wrap-block-right>ul li:hover .wrap-sub-menu{
    display: block;
}
.fix-position{
    top: 30px!important;
}
.fix-position .sub-menu{
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,.1);
}
.result-img{
    padding: 5px;
    position: relative;
    top: 5px;
    display: inline-block;
    z-index: 100;
}
.result-img img{
    display: inline-block;
    width: 24px;
    -o-object-fit: cover;
       object-fit: cover;
}
.result-img i{
    position: relative;
    transition: all 0.4s;
    top: 3px; 
    color: #444444;
}
.result-img:hover i{
    transform: rotateX(180deg);
}
.btn-title{
    display: inline-block;
    padding: 10px 0px;
    transition: all 0.4s;
    position: relative;
    font-weight: 600;
    color: #868686;
}
.btn-title .count{
    position: absolute;
    font-size: 12px;
    top: 2px;
    left: -5px;
    background: #FF6B20;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    z-index: 10;
    text-align: center;
    padding-top: 1px;
    color: #fff;
}
.btn-title:hover{
    color: #dedede;
}
.btn-title svg{
    position: relative;
    top: -3px;
}
/* .wrap-block-right>ul>li:nth-child(1),
.wrap-block-right>ul>li:nth-child(2)
{
    float: left;
} */
.wrap-block-right .icon{
    padding: 10px 5px;
    position: relative;
}
.wrap-language-menu{
    position: absolute;
    display: none;
    -webkit-animation: toTop 0.4s;
            animation: toTop 0.4s;
    bottom: 0px;
    transform: translateY(100%);
    background: #fff;
    width: 150px;
    border-radius: 10px;
    right: 0;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.2);
    z-index: 10;
}
.wrap-language-menu ul li{
    display: block;
    width: 100%;
}
.wrap-language-menu ul li a{
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px;
    color: #7D858F;
    transition: all 0.4s;
}
.wrap-language-menu ul li a:hover{
    color: #50C8EB;
}
.result-img:hover .wrap-language-menu{
    display: block;
}
@-webkit-keyframes toTop {
    from{
        opacity: 0;
        bottom: -20px;
    }
    to{
        opacity: 1;
        bottom: 0;
    }
}
@keyframes toTop {
    from{
        opacity: 0;
        bottom: -20px;
    }
    to{
        opacity: 1;
        bottom: 0;
    }
}
.btn-order{
    background: #2CB3DC;
    padding: 10px 5px;
    border-radius: 5px;
    transition: all 0.4s;
    /* margin-left: 5px; */
    /* font-size: 14px; */
}
.btn-call{
    transition: all 0.4s;
    z-index: 99;
    position: relative;
}
.btn-order:hover,
.btn-call:hover{
    color: rgba(255,255,255,.5);
}

.bg-top{
    background-image: linear-gradient(to bottom, #065696, #538bc9);
    height: 100vh;
    overflow: hidden;
}
.icon-user-o{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #dedede;
    display: inline-block;
    overflow: hidden;
}
.btn-title .text{
    position: relative;
    top: -5px;
}
.icon-user-o img{
    display: block;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

/* ---   flex system   ---*/
.flex-sys-menu{
    display: flex;
    justify-content: space-between;
}
.logo-col{
    width: fit-content;
    align-self: center;
}
.search-col{
    width: 53%;
    align-self: center;
}
.right-col{
    width: 37%;
    align-self: center;
}
@media only screen and (max-width:1200px) and (min-width:991px){
    .wrap-menu ul li a {
        padding: 5px 5px 20px 5px;
    }
    .header-bottom {
        top: 84px;
    }
    .wrap-block-right>ul li {
        display: inline-block;
    }
    .wrap-block-right .icon {
        padding: 0;
        position: relative;
        top: 7px;
    }
    .result-img {
        padding: 0;
        position: relative;
        top: 7px;
        display: inline-block;
        z-index: 500;
    }
}

@media only screen and (max-width:991px){
    .logo{
        width: 50px;
    }
    .bg-top::after{
        content: '';
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.3);
    }
    .obj-bg-03{
        width: 500px!important;
    }
    .obj-bg-04{
        width: 700px!important;
    }
    /* ------ search ------ */
    .wrap-search button{
        padding-left: 10px;
        padding-right: 5px;
    }
    .wrap-search input{
        padding-left: 35px;
    }
    /* ----- flex col ----- */
    .logo-col{
        width: fit-content;
        align-self: center;
        text-align: center;
    }
    .search-col{
        width: 68%;
        align-self: center;
    }
    .right-col{
        width: fit-content;
        align-self: center;
        text-align: center;
    }
    .right-col>.nav-bars{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    .width100-mb{
        width: 100%;
        max-width: 100%!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }
}
.hover-btn:hover .wrap-sub-menu{
    display: block;
}